*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.icons-container {
background-color: #ddd;
width: 70%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.icon-card {
width: 200px;
height: 70px;
border: 1px solid black;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
}

.icon-card .fas {
font-size: 25px;
}

.icon-card .name {
text-transform: uppercase;
font-size: 10px;
font-weight: bold;
margin-top: 5px;
}

.icon-card .animal {
color: blue;
}

.icon-card .vegetable {
color: orange;
}

.icon-card .user {
color: purple;
}